<mat-sidenav-container class="sidenav-container" flex="25">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Messages</mat-toolbar>
    <mat-nav-list>
        <mat-list-item *ngFor="let message of messages">
            <a matLine href="..." [matTooltip]="message.subject">{{ message.subject }}</a>
            <button mat-icon-button (click)="showInfo(link)">
               <mat-icon>info</mat-icon>
            </button>
         </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content flex="75">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Messages</mat-icon>
      </button>
      <span>Papercut</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
